@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://use.typekit.net/bhd0unc.css");

body,
p {
  color: #3c2616 !important;
  font-family: "Lato", sans-serif !important;
}

h1 {
  color: #b57a53 !important;
  font-family: museo-sans, sans-serif !important;
  font-weight: 700 !important;
  font-style: normal;
}

h2 {
  color: #b57a53 !important;
  font-family: museo-sans, sans-serif !important;
  font-weight: 500 !important;
  font-style: normal;
}
